/* Education Gallery Styles */

.education-gallery-wrapper {
    background-color: #000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.education-gallery-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .education-gallery-img {
        height: 250px;
        /* Adjust height for smaller screens */
    }
}